@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

  font-family: "Poppins", sans-serif;
  --brand-purple: #C882B7;
  
}

.selected-row {
  background-color: #f5f5f5 !important; 
}

.ant-modal-confirm-body svg {
  fill: currentColor !important;
}

.ant-message-notice-content svg {
  fill: currentColor !important;
}


.ok-btn:hover {

  background-color: #FFF !important;
  border-color: var(--brand-purple) !important;
  color: var(--brand-purple) !important;
}

.cancel-btn:hover {

  background-color: #FFF !important;
  border-color: var(--brand-purple) !important;
  color: var(--brand-purple) !important;
}

::-webkit-scrollbar {
  display: none;
}

.ql-editor{
  min-height:100px;
  
}